﻿<div ng-controller="AddGamesController as addGamesCtrl">

    <h1>Games Information:</h1>
    <form ng-submit="addGamesCtrl.submitGamesForm()">
        <table>

            <tr>
                <td><label>Game Name: </label></td>
                <td><input type="text" id="gameName" ng-model="addGamesCtrl.gameName" /></td>
            </tr>
            <tr>
                <td><label>Description: </label></td>
                <td><input type="text" id="gameDesc" ng-model="addGamesCtrl.gameDesc" /></td>
            </tr>
            <tr>
                <td><label>Category: </label></td>
                <td><select ng-options="ct.CategoryID as ct.CategoryName for ct in addGamesCtrl.category" ng-model="addGamesCtrl.selectedCategroy"></select></td>
            </tr>
            <tr>
                <td colspan="3">

                    <table class="table table-bordered table-striped table-responsive">
                        <thead>
                            <tr>
                                <!--<th scope="col"><strong>ID</strong></th>-->
                                <th scope="col"><strong>Edition</strong></th>
                                <th scope="col"><strong>Released Date</strong></th>
                                <th scope="col"><strong>Age Restriction</strong></th>
                                <th scope="col"><strong>Language</strong></th>
                                <th scope="col"><strong>Publisher</strong></th>
                                <th scope="col"><strong>Price</strong></th>
                                <th scope="col"><strong>Platform</strong></th>
                                <td><button type="button" class="btn btn-primary" ng-click="addGamesCtrl.addGameDetails()">Add</button></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="gameDetail in addGamesCtrl.gameDetails">
                                <td>
                                    <input type="text" id="gameEdition" ng-model="gameDetail.Edition" />
                                </td>
                                <td>
                                    <input type="date" ng-model="gameDetail.ReleasedDate" id="releaseDate" />
                                </td>
                                <td>
                                    <input type="text" id="ageRestriction" ng-model="gameDetail.AgeRestriction" />
                                </td>
                                <td>
                                    <input type="text" id="language" ng-model="gameDetail.Language" />
                                </td>
                                <td>
                                    <input type="text" id="publisher" ng-model="gameDetail.Publisher" />
                                </td>
                                <td>
                                    <input type="text" id="price" ng-model="gameDetail.Price" />
                                </td>
                                <td>
                                    <input type="text" id="price" ng-model="gameDetail.Platform" />
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" ng-click="addGamesCtrl.removeGameDetails($index)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Submit" />
                </td>
                <td>
                    <input type="reset" ng-click="addGamesCtrl.resetForm()" value="Reset" />
                </td>
            </tr>
        </table>

    </form>

</div>