﻿<div ng-controller="EditGamesController as editGamesCtrl">
    <div>
        <h1>Games Information:</h1>
        <form ng-submit="editGamesCtrl.updateGame()">
            <table>
                <tr>
                    <td><label>Game Name: </label></td>
                    <td><input type="text" id="gameName" ng-model="editGamesCtrl.selectedGame.GameName" /></td>
                </tr>
                <tr>
                    <td><label>Description: </label></td>
                    <td><input type="text" id="gameDesc" ng-model="editGamesCtrl.selectedGame.Description" /></td>
                </tr>
                <tr>
                    <td><label>Category: </label></td>
                    <td><select ng-options="ct.CategoryID as ct.CategoryName for ct in editGamesCtrl.category" ng-model="editGamesCtrl.selectedGame.CategoryID"></select></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table class="table table-bordered table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th scope="col"><strong>Edition</strong></th>
                                    <th scope="col"><strong>Released Date</strong></th>
                                    <th scope="col"><strong>Age Restriction</strong></th>
                                    <th scope="col"><strong>Language</strong></th>
                                    <th scope="col"><strong>Publisher</strong></th>
                                    <th scope="col"><strong>Price</strong></th>
                                    <th scope="col"><strong>Platform</strong></th>
                                    <td><button type="button" class="btn btn-primary" ng-click="editGamesCtrl.addGameDetails()">Add</button></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="gameDetail in editGamesCtrl.selectedGame.GameDetails">
                                    <td>
                                        <input type="text" id="gameEdition" ng-model="gameDetail.Edition" />
                                    </td>
                                    <td>
                                        <input input-date type="date" ng-model="gameDetail.ReleasedDate" id="releaseDate" />
                                    </td>
                                    <td>
                                        <input type="text" id="ageRestriction" ng-model="gameDetail.AgeRestriction" />
                                    </td>
                                    <td>
                                        <input type="text" id="language" ng-model="gameDetail.Language" />
                                    </td>
                                    <td>
                                        <input type="text" id="publisher" ng-model="gameDetail.Publisher" />
                                    </td>
                                    <td>
                                        <input type="text" id="price" ng-model="gameDetail.Price" />
                                    </td>
                                    <td>
                                        <input type="text" id="price" ng-model="gameDetail.Platform" />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" ng-click="editGamesCtrl.removeGameDetails($index)">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Submit" />
                    </td>
                    <td>
                        <input type="reset" ng-click="editGamesCtrl.resetForm()" value="Reset" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>