﻿<div ng-controller="HomeController as home">
    <table class="table table-striped" border="1">
        <thead>
            <tr>
                <th scope="col"></th>
                <!--<th scope="col"><strong>ID</strong> </th>-->
                <th scope="col"><strong> Name</strong></th>
                <th scope="col"><strong> Description</strong></th>
                <th scope="col"><strong> Category</strong></th>
                <th scope="col" colspan="2"><button type="button" class="btn btn-primary" style="text-align:right;" ng-click="home.addMasterDetails()">Add</button></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat-start="details in home.gameDetails">
                <td>
                    <button class="btn btn-primary" ng-if="details.expanded"
                            ng-click="details.expanded = false;">
                        -
                    </button>
                    <button class="btn btn-info" ng-if="!details.expanded" id="{{details.GameID}}"
                            ng-click="details.expanded = true">
                        +
                    </button>
                </td>
                <!--<td scope="row">{{ details.GameID }}</td>-->
                <td>{{ details.GameName }}</td>
                <td>{{ details.Description }}</td>
                <td>{{ details.Category.CategoryName }}</td>
                <!--<td><button type="button" class="btn btn-primary" ng-click="addMasterDetails()">Add</button></td>-->
                <td><button type="button" class="btn btn-secondary" ng-click="home.editMasterDetails(details.GameID)">Edit</button> </td>
                <td><button type="button" class="btn btn-danger" ng-click="home.deleteMaster(details.GameID)">Delete</button></td>
            </tr>
            <tr ng-if="details.expanded" ng-repeat-end="">
                <td colspan="4">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <!--<th scope="col"><strong>ID</strong></th>-->
                                <th scope="col"><strong>Edition</strong></th>
                                <th scope="col"><strong>Released Date</strong></th>
                                <th scope="col"><strong>Age Restriction</strong></th>
                                <th scope="col"><strong>Language</strong></th>
                                <th scope="col"><strong>Publisher</strong></th>
                                <th scope="col"><strong>Price</strong></th>
                                <th scope="col"><strong>Platform</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="gameDetails in details.GameDetails">
                                <!--<td scope="row">{{ gameDetails.GameDetailsID }}</td>-->
                                <td>{{ gameDetails.Edition }}</td>
                                <td>{{ gameDetails.ReleasedDate | date:'yyyy-MM-dd' }}</td>
                                <td>{{ gameDetails.AgeRestriction }}</td>
                                <td>{{ gameDetails.Language }}</td>
                                <td>{{ gameDetails.Publisher }}</td>
                                <td>{{ gameDetails.Price | currency :"$" : 2 }}</td>
                                <td>{{ gameDetails.Platform }}</td>
                                <td><button type="button" class="btn btn-danger" ng-click="home.deleteDetails(gameDetails.GameDetailsID)">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>